@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/PTS55F-webfont.eot');
    src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS55F-webfont.woff') format('woff'),
         url('../fonts/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  /*padding: 20px 50px 150px;*/
  font-size: 1em;
  font-weight:100;
  text-align: relative;
  color:#383838;
  margin-top:4em;
  height:100%;
  margin-left:0;
  margin-right:0;
  }
  .container {position:relative; height:100%;}
  .columns {-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;}
 
 p {font-family: 'pt_sansregular', Arial, sans-serif; margin:0;}
 
.logo {
	float:left;
	margin-left:1.5em;
	margin-top:1em;
	}
/* menu */
.menu{
 border:none;
 border:0px;
 margin-right:10px;
 margin-top:1em;
 padding:0px;
 font: 67.5% 'pt_sansregular', Arial, sans-serif;
 font-size:14px;
 font-weight:bold;
 float:right;
 position:absolute; right:0; bottom:0;
 }
 .menu ul{
 background:rgba(255,255,255,0.98;);
 height:50px;
 list-style:none;
 margin:0;
 padding:0;
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px;
 border-radius: 15px;
        -webkit-box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .1);
 -moz-box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .1);
 box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .1);
 }
 .menu li{
 float:left;
 padding:0px 0px 0px 15px;
 }
 
 .menu li a{
 color:#515151;
 display:block;
 font-weight:normal;
 line-height:50px;
 margin:0px;
 padding:0px 25px;
 text-align:center;
 text-decoration:none;
 }
 
 .menu li a:hover{
 background:#f5190e;
 color:#FFFFFF;
 text-decoration:none;
 -webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
 -moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
 box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
 }
 
 .menu ul li:hover a{
 background:#f5190e;
 color:#FFFFFF;
 text-decoration:none;
 }
 
 .menu li ul{
 display:none;
 height:auto;
 padding:0px;
 margin:0px;
 border:0px;
 position:absolute;
 width:200px;
 z-index:200;
 }
 
 .menu li:hover ul{
 display:block; 
 }
 
 .menu li li {
 display:block;
 float:none;
 margin:0px;
 padding:0px;
 width:200px;
 background:#F93;
}

.menu li:hover li a{
 background:none;
 }
 
 .menu li ul a{
 display:block;
 /*height:50px;*/
 font-size:12px;
 font-style:normal;
 margin:0px;
 padding:0px 10px 0px 15px;
 text-align:left;
 }
 
 .menu li ul a:hover, .menu li ul li:hover a{
 border:0px;
 color:#ffffff;
 text-decoration:none;
 background:#C60;
 -webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
 -moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
 box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3); 
 }
 .header {position:fixed;
 top:0;
 right:auto;
 left:auto;
 background-color:rgba(255,255,255,0.97);
 width:100%; border-bottom-style:solid; border-bottom-color:rgba(163,163,163,0.5); border-bottom-width:1px;}
 .content {
	 margin-top:0px;
	 padding-left:2em;
	 padding-right:2em;
	 padding-top:0px;
	 padding-bottom:2em;
	 border-bottom:solid;
	 border-bottom-color:#f5190e;
	 border-bottom-width: 5px;
	 }
	 
h1 {
	font-family:'pt_sansregular', Arial, sans-serif;
	font-size:1.5em;
	padding-top:20px;
	border-bottom:thin;
	border-bottom-color:#f5190e;
	border-bottom-style:solid;
	line-height:2.5em;
	width:16em;
	}
.impactimage{top:1em;height:300px; width:100%; background-image:url(../images/macara.jpg); background-position:center; background-repeat:no-repeat; background-size:cover; background-color:rgba(25,22,22,1.0); margin:0;}
.footer {height:15em; background-color:#111111;position:relative; top:65%;}
.copyright-wrapper{background: #222222; border-top: 1px solid #333333; font-size:1em; position:absolute; bottom:0px; height: 3em; width:100%; 
::-moz-selection {background:#000000; color: #FFFFFF;} ::selection { background: #000000; color: #FFFFFF;}
.copyright{position:absolute; bottom:1em;}